## Merging of collections

In [1]:
l1=[10,20]
l2=[30,40]
l3=[*l1,*l2]
print(l3)

[10, 20, 30, 40]

## Python program to interchange first and last elements in a list
Input : [12, 35, 9, 56, 24]
Output :[24, 35, 9, 56, 12]

In [1]:
l1=[12,35,9,56,24]
temp=l1[0]
l1[0]=l1[-1]
l1[-1]=temp
print(l1)

[24, 35, 9, 56, 12]

## Python program to swap two elements in a list
Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list.
Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90]

In [2]:
newlist=[23,65,19,90]
pos1=1
pos2=3
newlist[pos1-1], newlist[pos2-1] = newlist[pos2-1], newlist[pos1-1]
print(newlist)

[19, 65, 23, 90]

## Python program to remove Nth occurrence of the given word
Given a list of words in Python, the task is to remove the Nth occurrence of the given word in that list.

Examples:

Input: list - ["geeks", "for", "geeks"]
       word = geeks, N = 2
Output: list - ["geeks", "for"]

In [3]:
li=['geeks','for','geeks']
word='geeks'
n=2
count=0
for i in range(len(li)):
    if li[i] is word:
        count=count+1
    if count is n:
        li.pop(i)
print(li)

['geeks', 'for']

## clear a list in Python
 Using clear() method

In [4]:
#from last program,we perform clear method on li
print('Before clear: ',li)
li.clear()
print('After clear: ',li)

Before clear:  ['geeks', 'for']
After clear:  []

## Reversing a List
Input : list = [10, 11, 12, 13, 14, 15]
Output : [15, 14, 13, 12, 11, 10]

In [5]:
#using slice
li=[10,11,12,13,14,15]
li2=li[::-1]
print(li2)

[15, 14, 13, 12, 11, 10]

In [6]:
#using reversed function
newlist=list(reversed(li)) #reverse object cast to list type
print(newlist)

[15, 14, 13, 12, 11, 10]

In [7]:
#using reverse method
lst = [10, 11, 12, 13, 14, 15]
lst.reverse()
print(lst)

[15, 14, 13, 12, 11, 10]

## Cloning or Copying a list

In [8]:
# using slicing technique
lst=[4, 8, 2, 10, 15, 18]
lst_copy=lst[::]
print('Original list: ',lst)
print('Clone list: ',lst_copy)

Original list:  [4, 8, 2, 10, 15, 18]
Clone list:  [4, 8, 2, 10, 15, 18]

In [9]:
#using copy() method
lst=[4, 8, 2, 10, 15, 18]
lst_copy=lst.copy()
print('Original list: ',lst)
print('Clone list: ',lst_copy)

Original list:  [4, 8, 2, 10, 15, 18]
Clone list:  [4, 8, 2, 10, 15, 18]

## Count occurrences of an element in a list
Input : lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
         x = 10
Output : 3 
10 appears three times in given list.

In [10]:
lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
x=10
print(lst.count(x))

3

## Python program to find sum of elements in list

In [11]:
#using sum() function
lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
print('Sum: ',sum(lst))

Sum:  118

In [12]:
#using simple approach
lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
sum=0
for x in lst:
    sum=sum+x
print("Sum: ",sum)

Sum:  118

## Multiply all numbers in the list
Input :  list1 = [1, 2, 3] 
Output : 6

In [13]:
#using simple approach
lst=[1,2,3]
ans=1
for x in lst:
    ans=ans*x
print(ans)

6

In [14]:
#using numpy prod() method
lst=[1,2,3]
import numpy as np
ans=np.prod(lst)
print(ans)

6

## Python program to find smallest number in a list
Input : list2 = [20, 10, 20, 1, 100]
Output : 1

In [15]:
#using min() function
list2=[20,10,20,1,100]
print(min(list2))

1

In [16]:
#using simple approach
list1=[20,10,20,1,100]
min_n=list1[0]
for x in list1:
    if min_n>x:
        min_n=x
print(min_n)

1

In [17]:
#sort the list and print list first element
list1=[20,10,20,1,100]
list1.sort()
print(list1[0])

1

## Python program to find largest number in a list

In [18]:
# using sorting
list1 = [20, 10, 20, 4,100,5,7]
list1.sort()
print(list1[-1])

100

In [19]:
# using max() function
print(max(list1))

100

In [20]:
# using simple approach
list1 = [20, 10, 20, 4,100,5,7]
max_n=list1[0]
for x in list1:
    if max_n<x:
        max_n=x
print(max_n)

100

## Python program to find second largest number in a list

In [21]:
#using sorting
lst=[70, 11, 20, 4, 100]
lst.sort()
print(lst[-2])

70

In [22]:
#by removing max number from list
lst=[70,11,20,4,100]
lst.remove(max(lst))
print(max(lst))

70

## Python program to find N largest elements from a list
Input : [4, 5, 1, 2, 9] 
        N = 2
Output :  [9, 5]

Input : [81, 52, 45, 10, 3, 2, 96] 
        N = 3
Output : [81, 96, 52]

In [23]:
lst=[81,52,45,10,3,2,96]
n=3
lst.sort()
print(lst[-n::])

[52, 81, 96]

## Python program to print even numbers in a list
Input: list1 = [2, 7, 5, 64, 14]
Output: [2, 64, 14]

In [24]:
lst=[2,7,5,64,14]
even=[]
for x in lst:
    if x%2==0:
        even.append(x)
print(even)

[2, 64, 14]

## Python program to print odd numbers in a List
Input: list1 = [2, 7, 5, 64, 14]
Output: [7, 5]

In [25]:
#normal
lst=[2,7,5,64,14]
odd=[]
for x in lst:
    if x%2!=0:
        odd.append(x)
print(odd)

[7, 5]

In [26]:
#using comprehension
lst=[2,7,5,64,14]
odd1=[x for x in lst if x%2!=0]
print(odd1)

[7, 5]

## Python program to print all even numbers in a range
Input: start = 4, end = 15
Output: 4, 6, 8, 10, 12, 14

Input: start = 8, end = 11
Output: 8, 10

In [27]:
start=int(input('Enter starting point'))
end=int(input('Enter End point'))
even=[]
for x in range(start,end+1):
    if x%2==0:
        even.append(x)
print(even)

Enter starting point4
Enter End point15
[4, 6, 8, 10, 12, 14]

In [28]:
#using list comprehension
start=int(input('Enter starting point'))
end=int(input('Enter End point'))
even=[x for x in range(start,end+1) if x%2==0]
print(even)

Enter starting point4
Enter End point15
[4, 6, 8, 10, 12, 14]

## Python program to print all odd numbers in a range
Input: start = 4, end = 15
Output: 5, 7, 9, 11, 13, 15

Input: start = 3, end = 11
Output: 3, 5, 7, 9, 11

In [29]:
#using list comprehension
start=int(input('Enter starting point'))
end=int(input('Enter End point'))
odd=[x for x in range(start,end+1) if x%2!=0]
print(odd)

Enter starting point4
Enter End point15
[5, 7, 9, 11, 13, 15]

## Python program to count Even and Odd numbers in a List
Input: list1 = [2, 7, 5, 64, 14]
Output: Even = 3, odd = 2

Input: list2 = [12, 14, 95, 3]
Output: Even = 2, odd = 2

In [30]:
lst=[2,5,7,64,14]
even=[x for x in lst if x%2==0]
print('Even = ',len(even))
print('Odd = ',len(lst)-len(even))

Even =  3
Odd =  2

## Python program to print positive numbers in a list
Input: list1 = [12, -7, 5, 64, -14]
Output: 12, 5, 64

Input: list2 = [12, 14, -95, 3]
Output: [12, 14, 3]

In [31]:
lst=[12,14,-95,3]
pve=[x for x in lst if x>=0]
print(pve)

[12, 14, 3]

## Python program to print negative numbers in a list
Input: list1 = [12, -7, 5, 64, -14]
Output: -7, -14

Input: list2 = [12, 14, -95, 3]
Output: -95

In [32]:
lst=[12,-7,5,64,-14]
nve=[x for x in lst if x<0]
print(nve)

[-7, -14]

## Python program to print all positive numbers in a range
Input: start = -4, end = 5
Output: 0, 1, 2, 3, 4, 5 

Input: start = -3, end = 4
Output: 0, 1, 2, 3, 4

In [33]:
start=int(input('Enter starting point'))
end=int(input('Enter End point'))
pve=[x for x in range(start,end+1) if x>=0]
print(pve)

Enter starting point-4
Enter End point5
[0, 1, 2, 3, 4, 5]

## Python program to print all negative numbers in a range
Example:

Input: start = -4, end = 5
Output: -4, -3, -2, -1

Input: start = -3, end = 4
Output: -3, -2, -1

In [34]:
start=int(input('Enter starting point'))
end=int(input('Enter End point'))
nve=[x for x in range(start,end+1) if x<0]
print(nve)

Enter starting point-4
Enter End point5
[-4, -3, -2, -1]

## Python program to count positive and negative numbers in a list
Example:

Input: list1 = [2, -7, 5, -64, -14]
Output: pos = 2, neg = 3

Input: list2 = [-12, 14, 95, 3]
Output: pos = 3, neg = 1

In [35]:
lst=[2,-7,5,-64,-14]
pov=[x for x in lst if x>=0]
print('pos = ',len(pov))
print('neg = ',len(lst)-len(pov))

pos =  2
neg =  3

## Remove multiple elements from a list in Python
Given a list of numbers, write a Python program to remove multiple elements from a list based on the given condition.
Input: [12, 15, 3, 10]
Output: Remove = [12, 3], New_List = [15, 10]

Input: [11, 5, 17, 18, 23, 50]
Output: Remove = [1:5], New_list = [11, 50]

In [36]:
#Letâ€™s say we want to delete each element in the list which is divisible by 2 or all the even numbers.
lst=[12,15,3,10,4,5,8,20]
lst=[x for x in lst if x%2!=0]
print('New_list: ',lst)

New_list:  [15, 3, 5]

## Remove empty tuples from a list
In this article, we will see how can we remove an empty tuple from a given list of tuples. We will find various ways, in which we can perform this task of removing tuples using various methods and ways in Python.

Input : tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), 
                  ('krishna', 'akbar', '45'), ('',''),()]
Output : [('ram', '15', '8'), ('laxman', 'sita'), 
          ('krishna', 'akbar', '45'), ('', '')]

In [37]:
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('',''),()]
for x in tuples:
    if x is tuple(''):
        tuples.remove(x)
print(tuples)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [38]:
# using list comprehension  
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),  
          ('krishna', 'akbar', '45'), ('',''),()] 
tuples = [t for t in tuples if t]  
print(tuples)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

## Program to print duplicates from a list of integers
Examples :

Input : list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
Output : output_list = [20, 30, -20, 60]

In [39]:
lst = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
dup=set('')
for x in lst:
    if lst.count(x) >1:
        dup.add(x)
print(list(dup))

[20, -20, 30, 60]

## Python program to find Cumulative sum of a list
The problem statement asks to produce a new list whose  i^{th}  element will be equal to the sum of the  (i+1)  elements.

Examples :

Input : list = [10, 20, 30, 40, 50]
Output : [10, 30, 60, 100, 150]

Input : list = [4, 10, 15, 18, 20]
Output : [4, 14, 29, 47, 67]

In [1]:
lst=[10,20,30,40,50]
sum=0
for i in range(len(lst)):
    sum=sum+lst[i]
    lst[i]=sum
print(lst)

[10, 30, 60, 100, 150]

## Break a list into chunks of size N in Python

In [5]:
my_list = ['geeks', 'for', 'geeks', 'like', 
           'geeky','nerdy', 'geek', 'love', 
               'questions','words', 'life']
new_list=[]
n=4 # how much elements list contains
i=0
while i<len(my_list):
    new_list.append(my_list[i:i+n])
    i=i+n
print(new_list)

[['geeks', 'for', 'geeks', 'like'], ['geeky', 'nerdy', 'geek', 'love'], ['questions', 'words', 'life']]

## Sort the values of first list using second list
Examples:

Input : list1 = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
        list2 = [ 0,   1,   1,    0,   1,   2,   2,   0,   1]

Output :['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']

In [ ]:
list1 = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
list2 = [ 0, 1, 1, 0, 1, 2, 2, 0, 1]
new_list=[]
for ch in list1: